<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Desafío Black and White</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <div class="formcontainer">
    <h1 class="titulo"><h1>Black and White Spa</h1><br>
    <form id="imagenForm" action="/resultado" method="get">
      <div class="formulario">
        <label for="imageUrl">URL de la imagen:</label>
        <input type="text" id="img" name="img" class="formcontrol" placeholder="Ingresa la url de la imagen" required>
      </div>
      <button type="submit" class="boton">Subir Imagen al Servidor</button>
    </form>
  </div>
</body>

</html>